<div class="row">
    <div class="col">
            <div class="card" >
                    <img class="card-img-top" src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/08/24/16/champions-league-2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
    </div>
    <div class="col">
            <div class="card" >
                    <img class="card-img-top" src="http://s2.asmonaco.com/img/article/56/7/af7296/champions-league-corner-2567_34.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
    </div>
    <div class="col">
            <div class="card" >
                    <img class="card-img-top" src="https://media.gettyimages.com/photos/general-view-of-the-camp-nou-stadium-as-supporters-of-fc-barcelona-a-picture-id527183218" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
    </div>
</div>